<a href="https://colab.research.google.com/github/Dakotamjohnson/DMJohnson/blob/main/PandasDakota.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
from sklearn.datasets import load_iris

data=load_iris()

holiday = {"row": [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15],
          "Destination": ["England","Spain","France", 
                          "Sweden","Germany","USA",
                          "Canada","Chile","China",
                          "South Korea", "Malasia","Autralia",
                          "New Zealand", "Antartica","Nigreria"],
           "Score": [7,6,8,5,9,8,7,8,6,9,7,5,7,8,9],
           "Avg.Star": [3.81,7.82,9.94,1.47,5.53,6.47,8.35,7.58,3.8,8.2,6.78,5.5,8.54,0.44,5.94],
           "AllInclusiveHotel": [95,43,63,74,2,8,7,81,79,87,20,12,71,63,87],
           "MostVisitedCity": ["London","Barcelona","Paris",
                              "Stockholm","Berlin","New York City",
                              "Toronto","Valparaiso","Beijing",
                              "Seoul","Kuala Lumpur","Sydney",
                              "Auckland","Drake Passage","Largos"]}

myframe = pd.DataFrame(holiday)

print(myframe)

    row  Destination  Score  Avg.Star  AllInclusiveHotel MostVisitedCity
0     1      England      7      3.81                 95          London
1     2        Spain      6      7.82                 43       Barcelona
2     3       France      8      9.94                 63           Paris
3     4       Sweden      5      1.47                 74       Stockholm
4     5      Germany      9      5.53                  2          Berlin
5     6          USA      8      6.47                  8   New York City
6     7       Canada      7      8.35                  7         Toronto
7     8        Chile      8      7.58                 81      Valparaiso
8     9        China      6      3.80                 79         Beijing
9    10  South Korea      9      8.20                 87           Seoul
10   11      Malasia      7      6.78                 20    Kuala Lumpur
11   12     Autralia      5      5.50                 12          Sydney
12   13  New Zealand      7      8.54                 71        Auckland
13   14    Antartica      8      0.44                 63   Drake Passage
14   15     Nigreria      9      5.94                 87          Largos

In [13]:
myframe.shape

(15, 6)

In [12]:
print(myframe.iloc[3:8])

   row Destination  Score  Avg.Star  AllInclusiveHotel MostVisitedCity
3    4      Sweden      5      1.47                 74       Stockholm
4    5     Germany      9      5.53                  2          Berlin
5    6         USA      8      6.47                  8   New York City
6    7      Canada      7      8.35                  7         Toronto
7    8       Chile      8      7.58                 81      Valparaiso

In [14]:
myframe["AllInclusiveHotel"].mean()

52.8

In [42]:
myframe["Score"].max()

9

In [41]:
myframe["Score"].min()

5

In [22]:
myframe["Score"]<8

0      True
1      True
2     False
3      True
4     False
5     False
6      True
7     False
8      True
9     False
10     True
11     True
12     True
13    False
14    False
Name: Score, dtype: bool

In [23]:
myframe["Score"]>2

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
Name: Score, dtype: bool

In [24]:
myframe["AllInclusiveHotel"]>9

0      True
1      True
2      True
3      True
4     False
5     False
6     False
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
Name: AllInclusiveHotel, dtype: bool

In [27]:
myframe.scatter(x="score", y="AllInclusiveHotel" )

AttributeError: ignored